.main {
  background-color: $white;
  border-radius: 2.5rem;

  &__card {
    padding: 3rem;

    .main__bill-title,
    .main__tip-title,
    .main__people-title {
      color: $dark-gray;
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }

    .main__bill-container {
      @include container-bottom-space;

      .main__bill {
        @include flex-input-container;
        @include border(transparent);
        @include border-radius;
        @include transition;

        &:hover {
          @include border($primary-color);
        }

        .main__bill-input {
          @include input-config(right);
          @include font-config;

          &::placeholder {
            color: $lighter-dark-gray;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }

    .main__tip-container {
      @include container-bottom-space;

      .main__tip-percentages-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;

        .main__tip-btn {
          padding: 0.8rem 0;
          color: $white;
          background-color: $very-dark;
          border: none;
          cursor: pointer;
          @include font-config;
          @include border-radius;
          @include transition;

          &:hover {
            color: $very-dark;
            background-color: darken($light-gray, 10%);
          }
        }
        .main__tip-custom {
          @include input-config(center);
          @include border(transparent);
          @include border-radius;
          @include font-config;
          @include transition;

          &:hover {
            @include border($primary-color);
          }
          &::placeholder {
            color: $dark-gray;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }

    .main__people-container {
      @include container-bottom-space;

      .main__people {
        @include flex-input-container;
        @include border(transparent);
        @include border-radius;
        @include transition;

        &:hover {
          @include border($primary-color);
        }

        .main__people-input {
          @include input-config(right);
          @include font-config;

          &::placeholder {
            color: $lighter-dark-gray;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }

    .main__total {
      background-color: $very-dark;
      border-radius: 1.5rem;
      padding: 2.5rem;

      .main__total-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2.5rem;

        .main__total-title {
          color: $white;
          font-size: 1.5rem;
          margin-bottom: 0.2rem;
        }

        .main__total-subtitle {
          font-size: 1.3rem;
          font-weight: $font-700;
          color: $lighter-dark-gray;
        }

        .main__amount {
          color: $primary-color;
          font-size: 3rem;
        }
      }

      .main__total-btn {
        display: block;
        width: 100%;
        background-color: $primary-color;
        color: $very-dark;
        padding: 1rem 0;
        margin-top: 3.5rem;
        text-transform: uppercase;
        cursor: pointer;
        border: none;
        @include font-config;
        @include border-radius;
        @include transition;

        &:hover {
          background-color: darken($light-gray, 10%);
        }
      }
    }
  }
}
