// Colors
$primary-color: hsl(172, 67%, 45%);
$very-dark: hsl(183, 100%, 15%);

$lighter-dark-gray: hsl(184, 14%, 56%);
$dark-gray: hsl(186, 14%, 43%);

$lighter-light-gray: hsl(189, 41%, 97%);
$light-gray: hsl(185, 41%, 84%);

$white: hsl(0, 0%, 100%);

// Font Weight
$font-400: 400;
$font-700: 700;
