@import 'config';
@import 'header';
@import 'main';
@import 'footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Space Mono', monospace;
  background-color: $light-gray;
  min-height: 100vh;
  padding: 1rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.showError {
  visibility: visible;
  color: darken(red, 10%);
  font-size: 1.1rem;
}

.hideError {
  font-size: 1.1rem;
  visibility: hidden;
}
